<html>
  <body>
    <form method="post" action="<%= runningOn %>/pay/checkout">
      <input type="hidden" name="merchant_id" value="121XXXX" />
      <!-- Replace your Merchant ID -->
      <input type="hidden" name="return_url" value="<%= runningOn %>/iw/success" />
      <input type="hidden" name="cancel_url" value="<%= runningOn %>/iw/cancel" />
      <input
        type="hidden"
        name="notify_url"
        value="https://iw-payment-hook.free.beeceptor.com"
      />
      <br /><br />Item Details<br />
      <input type="text" readonly name="order_id" value="ItemNo12345" />
      <input type="text" name="items" value="Door bell wireless" />
      <input type="text" readonly name="currency" value="LKR" />
      <input type="text" readonly name="amount" value="1000" />
      <br /><br />Customer Details<br />
      <input type="text" name="first_name" value="Saman" />
      <input type="text" name="last_name" value="Perera" />
      <input type="text" name="email" value="samanp@gmail.com" />
      <input type="text" name="phone" value="0771234567" />
      <input type="text" name="address" value="No.1, Galle Road" />
      <input type="text" name="city" value="Colombo" />
      <input type="hidden" name="country" value="Sri Lanka" />
      <input type="hidden" name="custom_1" value="iw-custom-1" />
      <input type="hidden" name="custom_2" value="iw-custom-2" />
      <input
        type="hidden"
        readonly
        name="hash"
        value="889A7FA96293908F3A55774FFF51DC5C"
      />
      <input type="submit" value="Buy Now" />
    </form>
  </body>
</html>
